<datasource-http-settings current="ctrl.current">
</datasource-http-settings>
<h3 class="page-heading">Access Tokens</h3>
<div class="gf-form-group">
  <div class="gf-form-inline">
    <div class="gf-form">
      <span class="gf-form-label width-10">Use Access Token</span>
      <input class="gf-form-input" type="checkbox"
        ng-model="ctrl.current.jsonData.useAccessToken"
        placeholder="at-enable header"
        [disabled]="!ctrl.current.basicAuth"/>

      <span class="gf-form-label width-10">Access Token</span>
      <input class="gf-form-input" type="text"
        ng-model="ctrl.current.jsonData.accessToken"
        [disabled]="ctrl.current.jsonData.useAccessToken && !ctrl.current.basicAuth"
        placeholder="at-token header"/>

      <div>
          For more details on using Personal Access Tokens for authentication, check out the 
          <a href="https://www.jetbrains.com/help/teamcity/rest-api.html#RESTAPI-RESTAuthentication">Rest Authentication</a>
          documentation for TeamCity.
      </div>
    </div>
  </div>
</div>